*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    position: relative;
}
.sort{
    display: flex;
    width: 40px;
    position: fixed;
    right: 380px;
    top:340px;
    text-align: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: crimson;
    transition: 0.3s;
}
.sort:hover{
    border: none;
    background-color: rgb(119, 21, 41);
}
.sort:focus{
    outline: none;
}
ul{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
ul li{
    width: 250px;
}
ul li img{
    width: 200px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: 0.3s;
}
ul li img:hover{
    transform: translateY(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ul li p{
    margin-bottom: 20px;
    font-size: 17px;
}
.detail-wrap{
    margin-top: 100px;
    width: 1000px;
    display: flex;
}
.detail-wrap img{
    width: 400px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.detail-wrap .detail-right{
    overflow: scroll;
    overflow-x: hidden;
    height: 420px;
    margin-left: 50px;
    width: 550px;
    text-align: left;
    padding-right: 10px;
    position: relative;
}
.detail-wrap .detail-right::after{
    content: '';
    width: 555px;
    border: 3px solid rgb(219, 219, 219);
    position: absolute;
    top: 0px;
    right: 20px;
}
.detail-wrap .detail-right::before{
    content: '';
    width: 555px;
    border: 3px solid rgb(219, 219, 219);
    position: absolute;
    bottom: -70px;
    right: 20px;
}
.detail-wrap .detail-right::-webkit-scrollbar {
  width: 6px;
}
.detail-wrap .detail-right::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 3px;
}

.detail-wrap .detail-right p{
    padding-top: 30px;
    margin-bottom: 10px;
}
.backtohome{
    color: white;
    display: inline-block;
    background-color: crimson;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.backtohome:hover{
    color: white;
    background-color: rgb(104, 18, 35);
}
.wishbtn{
    margin-bottom: 15px;
    width: 200px;
    background-color: rgb(245, 139, 160);
}