*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    position: relative;
}
.top{
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 200%;
    height: 40px;
    background-color: crimson;
    
}
.Header-wrap{
    margin-top: 50px;
    margin: 20px auto;
}
.Header-wrap .Header-top{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.Header-wrap .Header-top .Header-top-left a{
    color: black;
    font-size: 12px;
    font-weight: 800;
}

.Header-wrap .Header-top .Header-top-right a{
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin: 8px;
}
.Header-wrap .Header-mid{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.Header-wrap .Header-mid .Header-mid-left{
    width: 230px;
}
.Header-wrap .Header-mid .Header-mid-right{
    padding-top: 20px;
    position: relative;
}
.Header-wrap .Header-mid .Header-mid-right input{
    padding: 10px;
    padding-right: 40px;
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 10px;
}
.Header-wrap .Header-mid .Header-mid-right input:focus{
    outline: none;
}
.Header-wrap .Header-mid .Header-mid-right button{
    position: absolute;
    background-color: transparent;
    border: none;
    right: -5px;
    bottom: 25px;
}
.Header-wrap .Header-bottom{
    padding: 15px;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.Header-wrap .Header-bottom a{
    color: crimson;
    font-weight: 900;
    font-size: 16px;
    padding: 0 20px;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    transition: 0.3s;
}
.Header-wrap .Header-bottom a:hover{
    color: rgb(92, 22, 36);
}

/* ================================================================================== */

.Footer-wrap{
    margin: 0 auto;
    margin: 30px 0;
}
.Footer-wrap .Footer-top{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.Footer-wrap .Footer-top .Footer-top-left a{
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
    padding-right: 15px;
    border-right: 1px solid rgb(197, 197, 197);
}
.Footer-wrap .Footer-top .Footer-top-right a{
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
}
.Footer-wrap .Footer-top .Footer-top-right button{
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}
.Footer-wrap .Footer-mid{
    display: flex;
}
.Footer-wrap .Footer-mid .Footer-mid-left{
    text-align: left;
    margin-top: 50px;
    border-right: 1px solid gray;
    padding-right: 50px;
}
.Footer-wrap .Footer-mid .Footer-mid-left h3:first-child{
    font-size: 23px;
    letter-spacing: -3px;
}
.Footer-wrap .Footer-mid .Footer-mid-left h3:nth-child(2){
    font-size: 30px;
    margin-bottom: 15px;
}
.Footer-wrap .Footer-mid .Footer-mid-left p{
    font-size: 14px;
}
.Footer-wrap .Footer-mid .Footer-mid-right{
    margin-left: 30px;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-top{
    margin-top: 50px;
    display: flex;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-top .footertext{
    text-align: left;
    margin-left: 10px;
    font-size: 13px;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-bottom{
    text-align: left;
    font-size: 13px;
    margin-top: 5px;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-bottom h4{
    margin-top: 10px;
}
.login-wrap{
    width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 150px;
}
.logtitle{
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}
.logall{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 20px;
    padding: 50px;
}
.logall h3{
    text-align: left;
    margin-bottom: 15px;
}
.logall .logbox1 .gettext,
.logbox3 input{
    width: 500px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 18px;
}
.logbox1 button, .logbox3 button{
    width: 500px;
}
.logbtn{
    background-color: crimson;
    border-radius: 10px;
    height: 61px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.logbox3 button{
    background-color: white;
    border-radius: 10px;
    height: 61px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid gray;
}
.logbtn2{
    height: 61px;
    background-color: rgb(253, 219, 23);
    color: rgb(100, 51, 11);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logbox2{
    display: flex;
    justify-content: space-between;
}
.logbox2 button{
    width: 160px;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    height: 55px;
}
.logbox2 button:first-child{
    background-color: gray;
    color: white;
    font-weight: bold;
}
.logbox1 .check{
    text-align: left;
    margin: 10px 0;
}
.logbox1 .check input{
    margin-right: 5px;
}
.logbox3 h3{
    margin-top: 40px;
}
.logbox3 p{
    font-size: 12px;
    margin-top: 10px;
}
.logall input,button{
    border: none;
}
.logall input:focus,button:focus{
    outline: none;
}
.logbox1 .logbtn:hover{
    background-color: rgb(136, 19, 43);
}
.logbox1 .logbtn2:hover{
    background-color: rgb(192, 161, 24);
}
.logbox3 button:hover{
    background-color: rgb(201, 201, 201);
}
.logbox2 .box2btn1:hover{
    background-color: rgb(53, 53, 53);
} 
.logbox2 .box2btn2:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
} 

