*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    position: relative;
}
.top{
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 200%;
    height: 40px;
    background-color: crimson;
    
}
.Header-wrap{
    margin-top: 50px;
    margin: 20px auto;
}
.Header-wrap .Header-top{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.Header-wrap .Header-top .Header-top-left a{
    color: black;
    font-size: 12px;
    font-weight: 800;
}

.Header-wrap .Header-top .Header-top-right a{
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin: 8px;
}
.Header-wrap .Header-mid{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.Header-wrap .Header-mid .Header-mid-left{
    width: 230px;
}
.Header-wrap .Header-mid .Header-mid-right{
    padding-top: 20px;
    position: relative;
}
.Header-wrap .Header-mid .Header-mid-right input{
    padding: 10px;
    padding-right: 40px;
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 10px;
}
.Header-wrap .Header-mid .Header-mid-right input:focus{
    outline: none;
}
.Header-wrap .Header-mid .Header-mid-right button{
    position: absolute;
    background-color: transparent;
    border: none;
    right: -5px;
    bottom: 25px;
}
.Header-wrap .Header-bottom{
    padding: 15px;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.Header-wrap .Header-bottom a{
    color: crimson;
    font-weight: 900;
    font-size: 16px;
    padding: 0 20px;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    transition: 0.3s;
}
.Header-wrap .Header-bottom a:hover{
    color: rgb(92, 22, 36);
}

/* ================================================================================== */

.Footer-wrap{
    margin: 0 auto;
    margin: 30px 0;
}
.Footer-wrap .Footer-top{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.Footer-wrap .Footer-top .Footer-top-left a{
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
    padding-right: 15px;
    border-right: 1px solid rgb(197, 197, 197);
}
.Footer-wrap .Footer-top .Footer-top-right a{
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
}
.Footer-wrap .Footer-top .Footer-top-right button{
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 800;
    margin: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}
.Footer-wrap .Footer-mid{
    display: flex;
}
.Footer-wrap .Footer-mid .Footer-mid-left{
    text-align: left;
    margin-top: 50px;
    border-right: 1px solid gray;
    padding-right: 50px;
}
.Footer-wrap .Footer-mid .Footer-mid-left h3:first-child{
    font-size: 23px;
    letter-spacing: -3px;
}
.Footer-wrap .Footer-mid .Footer-mid-left h3:nth-child(2){
    font-size: 30px;
    margin-bottom: 15px;
}
.Footer-wrap .Footer-mid .Footer-mid-left p{
    font-size: 14px;
}
.Footer-wrap .Footer-mid .Footer-mid-right{
    margin-left: 30px;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-top{
    margin-top: 50px;
    display: flex;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-top .footertext{
    text-align: left;
    margin-left: 10px;
    font-size: 13px;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-bottom{
    text-align: left;
    font-size: 13px;
    margin-top: 5px;
}
.Footer-wrap .Footer-mid .Footer-mid-right .Footer-mid-right-bottom h4{
    margin-top: 10px;
}
