*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.jointop{
    margin: 0 auto;
    text-align: left;
    width: 600px;
     margin-top: 50px;
}
.jointop span{
    display: block;
    text-align: right;
    font-size: 12px;
}
.joinwrap{
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(226, 226, 226);
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 150px;
}
.joinwrap em{
    color: red;
}
.joinwrap ul{
    display: flex;
    flex-direction: column;
}
.joinwrap li{
    text-align: left;
    width: 600px;
}
.joinwrap input{
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    outline: none;
}
.addBox label{
    text-align: left;
    display: block;
}
#joinBtn{
    background-color: crimson;
    color: white;
    font-size: 18px;
    margin-top: 30px;
}
#joinBtn:hover{
    background-color: rgb(148, 30, 54);
}
label{
    font-size: 17px;
    font-weight: 600;
}
hr{
    margin-bottom: 30px;
    border: 1px solid rgb(221, 221, 221);
}